<div class="container">
    <div class="row" style="margin-top: 10px"></div>
    <app-header></app-header>
    <app-navigation></app-navigation>
    <div class="row text-center">
        <div class="col-md-offset-3 col-md-6">
            <h4 class="sub_heading">Registered Office</h4><br>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-offset-3 col-md-6">
            <b style="font-size:16px">Advika Enterprises Private Limited</b><br />
            184, Kokate Vasti, Old Pune Jakat Naka,<br>
            Pune Solapur Highway, Indapur,<br>
            Indapur, Pune - 403106,<br>
            Maharashtra (INDIA)<br>
            Email : <b>support&amp;vivahpropozal.com</b><br>
            <i class="fa fa-clock-o fa-fw"></i>
            <strong>Timing : </strong> 10 AM to 6 PM<br>
            Contact : <b> <a tel="+919970013272">(+91) 8087409272 </a></b><br>
        </div>
    </div>
    <br />
    <div class="row text-center" style="margin-top: 15px">
        <div class="col-md-offset-3 col-md-6">
            <b><u><a href="#">Find Your Nearest Franchise / Office</a></u></b>
            <br><br>
        </div>
    </div>
    <app-footer></app-footer>
</div>