<div class="container">
    <div class="row" style="margin-top: 10px"></div>
    <app-header></app-header>
    <app-navigation></app-navigation>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-3 text-center">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <a href="https://jeevanmeet.com/uploadImages/37cb75ea98a33d1f242731206770fc8c.jpg"
                                        data-toggle="lightbox" data-gallery="navigateTo">
                                        <img src="https://jeevanmeet.com/uploadImages/37cb75ea98a33d1f242731206770fc8c.jpg"
                                            alt="Profile Image" class="img-responsive" />
                                    </a>
                                </div>
                                <div class="panel-footer">
                                    <a class="btn btn-info" href="#">View Complete Details</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="alert alert-danger" style="display: none;">
                                        To View Profile details. Get Your Profile Approved from Vivah propozal.
                                        Contact Vivah propozal Support.
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <span class="backBtn btn btn-primary">Back</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="btmDotted">
                                        <i class="fa fa-list-alt fa-lg">
                                            &nbsp;&nbsp;Basic Information
                                        </i>
                                    </h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Profile Status</label>
                                </div>
                                <div class="col-xs-7">
                                    <span class="label label-success"
                                        style="font-size: 14px; padding: 5px;">Verified</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>ID</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>1</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Name</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>ABC</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Gender</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>ABC</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Date of Birth</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>07-12-1992 07:30:00 PM</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Place of birth</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>ABC</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Age</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>26</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Height</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>5.02</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Weight</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>51</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Bloodgroup</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>O+</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Body Type</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>Average</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Complexion</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>Fair</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Maritial Status</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>Single</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Mother Tongue</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>Marathi</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Have Childs</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>0</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Eating Habits</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>Non Vegetarian</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Drinking Habits</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>No</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Smoking Habits</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>No</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Mobile Number</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>7021176604</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Alternate Number</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>7066527589</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Phone Number</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>020-204162970</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Physical Disability</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>No</label>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xs-12">
                                    <h4 class="btnDotted">
                                        <i class="fa fa-sun-o fa-lg"></i>
                                        &nbsp;&nbsp;Religious Information
                                    </h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Religion</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>Hindu</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Caste</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>Maratha</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Sub Caste</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>96 Kuli Deshastha</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Sunshine</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>Aquarius</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Manglik Status</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>No</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Gothram</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>Devak: Sunflower</label>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xs-12">
                                    <h4 class="btnDotted">
                                        <i class="fa fa-users fa-lg"></i>
                                        &nbsp;&nbsp;Family Information
                                    </h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Family Type</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>Nuclear</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Family Status</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>Middle Class</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Family Values</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>Traditional</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Father Name</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>Ashok Deshmukh</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Father's Occupation</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>Retired</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Mother Name</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>Rukmini Deshmukh</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Mother's Occupation</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>Housewife</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>No of Brothers</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>0</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Married Brothers</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>0</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>No of sisters</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>1</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Married Sisters</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>1</label>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xs-12">
                                    <h4 class="btnDotted">
                                        <i class="fa fa-university fa-lg"></i>
                                        &nbsp;&nbsp;Professional Information
                                    </h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Education</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>Masters - Arts/ Sci/ Comm/ M.Phill/ Others</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Qualification</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>M Sc (Agri)</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Occupation</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>Govt Class 3</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>More Information</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>M.Sc. Agri.</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Employed In</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>Krushi Sevak- Govt. Class 3 -2024</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Annual Income</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>0</label>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xs-12">
                                    <h4 class="btnDotted">
                                        <i class="fa fa-map-marker fa-lg"></i>
                                        &nbsp;&nbsp;Location
                                    </h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Current Address</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>ABC</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Pincode</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>413004</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Current Location</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>ABC</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Ancentral Address</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>ABC</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Ancentral Location</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>Maharashtra, Solapur, Pandharpur</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>NRI Country</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>ABC</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>NRI Address</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>ABC</label>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xs-12">
                                    <h4 class="btnDotted">
                                        <i class="fa fa-male fa-lg"></i>
                                        &nbsp;&nbsp;About Myself
                                    </h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <label>Completed M.Sc. Agri, Working as a Krushi Sevak - Govt. Class 3. Basically
                                        from Pandharpur, Solapur.</label>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-12">
                                    <h4 class="btmDotted">
                                        <i class="fa fa-heart fa-lg"></i>
                                        &nbsp;&nbsp;Partner Preferences
                                    </h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Age</label>
                                </div>
                                <div class="col-xs-7">
                                    <span class="label label-success" style="font-size: 14px; padding: 5px;">26 to 28
                                        Years</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Height</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>1</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Mother Tongue</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>ABC</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Maritial Status</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>ABC</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Eating Habits</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>Doesn't Matter</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Drinking Habits</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>No</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Smoking Habits</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>No</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Religion</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>Hindu</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Caste</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>Maratha</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Sub caste</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>96 Kuli Deshtha</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Manglik</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>No</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Rashi</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>Not Specified</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Education</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>Not Specified</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Occupation</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>Govt Class 3, Govt Class 2, Govt Class 1, Civil Services
                                        (IAS/IPS/IRS/IES/IFS),</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Physical Status</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>Normal</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>Patners Annual Income</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>0 to 0</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-5">
                                    <label>About Patner</label>
                                </div>
                                <div class="col-xs-7">
                                    <label>Suitable, Govt. Service.</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>