<div class="row" style="margin-bottom: 10px;">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-3 text-center">
                <div class="btn-group" role="group" aria-label="">
                    <a href="#" class="btn btn-default btn-sm">Terms Of Use</a>
                    <a class="btn btn-default btn-sm" href="#" >Privacy Policy</a>
                    <a class="btn btn-default btn-sm" href="#" >FAQ</a>
                    <a class="btn btn-default btn-sm" href="#">Feedback</a>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <a href="#" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="#" target="_blank">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </div>
            <div class="col-md-4 text-center">
                <p class="">Copyright &copy; 2022 <a href="#"><strong>JeevanMeet</strong></a> All Rights Reserved.</p>
            </div>
            
            <div class="col-md-3 text-center">
                <p>Design &amp; Developed By <br> Sahyadri Infotech
            </div>    
        </div>
    </div>
</div>